Flask==2.3.6
Flask-WTF==1.1.1
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.5
Flask-Migrate==4.0.4
Flask-Bootstrap==3.3.7.1
Jinja2==3.1.2
Werkzeug==2.3.7
requests==2.31.0
python-dotenv==1.0.0
gunicorn==21.2.0
nltk==3.9.1
pygame==2.5.2
transformers==4.42.0
